<div class="block p-1 sidebar">
  <aside class="menu">
    <ul class="menu-list">
      <li class="m-2" *ngFor="let menu of sidebar_menu">
        <a routerLink="{{menu.path}}" (click)="showSubLevels(menu.id)"><span class="mr-2"><i class="{{menu.icon}}"></i></span>{{menu.name}}</a>
        <ul id="{{menu.id}}" *ngIf="menu.sub_levels != null">
          <li *ngFor="let sub_levels of menu.sub_levels">
            <a routerLink="{{menu.path + sub_levels.path}}" ><span class="mr-2"><i class="{{sub_levels.icon}}"></i></span>{{sub_levels.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
</div>
