.sidebar {
    height: 100%;
    overflow-y: auto;
    background-color: #000000;
}

.option {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
}

.selected-option {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
    color: #000000;
}

.sublist {
    display: none;
}

.displayed-sublist {
    display: block;
}